
.navbar{
    list-style-type: none;
    text-decoration: none;
    text-align: center;
    padding: 2rem;
    background-color: gray;
}
.nav_item{
    color: white;
    display: inline;
    padding: 2rem;
}
.nav_item:hover{
    color:purple;
    text-transform: capitalize ;
}
.nav_item:active{
    color: rgb(238, 255, 0);

}
